*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  width:100vw;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:darkgoldenrod;
}
.Container{
  width:800px;
  height:500px;
  padding:20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0,0,10px rgba(0,0,0.1);
  display:flex;
}


.box{
  width:350px;
  background-image: url("./BMI.png");
  background-position: center;
  background-repeat: no-repeat;
}
.data{
flex:1;
padding: 20px;
margin-left: 25px;

}
.data h2{
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 20px;
  color:darkcyan;
  
}
.Height{
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width:250px;
  color:gray;
}
.Weight{
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width:250px;
  color:gray;
}
.Height input{
  margin: 7px;
  border:2px solid #ccc;
  padding:9px;
  border-radius:5px;
}
.Weight input{
  margin: 7px;
  border:2px solid #ccc;
  padding:9px;
  border-radius:5px;
}
button{
  margin-bottom:10px;
  padding: 10px 20px;
  margin:5px;
  font-size:16px;
  background-color: rgb(116, 183, 230);
  border-radius: 4px;
  color:#fff;
  border:none;
  transition: background-color;
}
button:hover{
  background-color: rgb(9, 163, 235)
}
.data button:nth-of-type(2){
  background-color: rgb(236,9,9)
}
button:nth-of-type(2):hover{
  background-color:rgb(186, 28, 28);
}

.para{
  margin-top:30px;
  border:2px solid rgb(9, 163, 235);
  padding:10px;
  width:260px;
}
p{
  margin-bottom:10px;
  font-size: 16px;
}
.error{
  color:red;
  margin-bottom:10px;
  font-size:14px;
}



